body{
    background-color: aqua;
}

div{
    background-color: white;
    border: 1px solid black;
    padding: 50px;
    width: 60%;
    margin: 0 auto;
}

fieldset{
    margin-bottom: 12px;
}
legend{
    background-color: aqua;
    padding: 5px;
    border-radius: 20px;
    font-weight: bold;
}